.b-order-steps {
  margin-top: 20px;

  .b-form-actions {
    margin-top: 10px;
    a.btn {
      padding: 9px;
    }
  }
}

.b-order-in-total {
  margin-bottom: 10px;
  font-size: $base-font-size + 6;
  span {
    color: red;
  }
}
