%table
  - characteristics.each do |char|
    - if char[:characteristics].any?
      - char[:characteristics].each do |cat_char|
        %tr
          %td= cat_char[:characteristic].title
          %td= cat_char[:characteristic_value].value
