.b-product-images.default
  = background_image_tag ImageDecorator.decorate(product).photo_url(:product),
                         class: 'e-main-image'

  - photos.each do |photo|
    = background_image_tag photo.file.url(:product, :thumb),
                           class: 'e-thumb-image',
                           data: { big_img_url: photo.file.url(:product) }
