%p
  %strong= @order.user_name
  , благодарим за Ваш заказ! Как только мы его обработаем, наш менеджер свяжется с Вами для уточнения деталей доставки и оплаты.

%p
  Номер Вашего заказа:
  %span= @order.id

= render 'mailers/shared/footer'
