.b-mail-user-message
  = @order.user_name
  , благодарим за Ваш заказ!
  Как только мы его обработаем, наш менеджер свяжется с Вами для уточнения деталей доставки и оплаты.

%p.strong
  Номер Вашего заказа:
  %span= @order.id
