.price {
  p {
    margin: 0;
    padding: 0;
    color: $moderateReddishOrange;
    font-size: 26px;
    &.new {
      margin-bottom: 10px;
    }
    &.old {
      color: $dullGray;
      font-size: 14px;
      text-decoration: line-through;
    }
  }
}
