.b-product-ratable-with-reviews {
  display: table;
  .ratable, .reviews-count { float: left; }
  .ratable {
    min-width: 145px;
  }
  .reviews-count {
    text-decoration: none;
    border-bottom: 1px dotted $deathlyIndigo;
    color: $deathlyIndigo;
    font-size: 20px;
  }
  &.smal {
    img {
      width: 15px;
      height: 15px;
    }
    .reviews-count {
      font-size: 14px;
    }
    .ratable {
      min-width: 100px;
    }
  }
}
