.b-single-product {
  display: table;
  float: left;
  &:last-child { margin-right: 0; }
  .b-info {
    float: left;
    p {
      font-size: 18px;
      &.price {
        color: $moderateReddishOrange;
      }
    }
  }
  .b-commerce {
    a {
      text-decoration: none;
      border-bottom: 1px dotted $blue;
    }
  }
  &.related {
    width: 500px;
    height: 110px;
    margin-right: 80px;
    .e-image {
      width: 168px;
      height: 108px;
      margin-right: 25px;
    }
  }
  &.similar {
    width: 270px;
    margin-right: 30px;
    .e-image {
      width: $catalogImageWidth;
      height: 175px;
    }
    .b-info {
      p {
        &.title { font-size: 22px; }
        &.price { font-size: 20px; }
      }
    }
  }
  &.catalog {
    width: 100%;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 20px;
    }
    .e-image {
      width: $catalogImageWidth;
      height: 175px;
      margin-right: 25px;
    }
    .b-info {
      width: $containerWidth - $catalogImageWidth - 27;
      .b-info-main, .b-info-short, .b-commerce {
        float: left;
      }
      .b-info-main {
        width: 410px;
        margin-right: 90px;
        p {
          margin: 12px 0;
          font-size: 14px;
          &:first-child { margin-top: 0; }
          &.title {
            margin-bottom: 10px;
            font-size: 24px;
          }
        }
      }
      .b-info-short {
        @import "_price";
        .b-product-ratable-with-reviews {
          margin-top: 30px;
        }
      }
    }
  }
  &.wishlist {
    @extend .related;
    margin-bottom: 10px;
    .e-image {
      width: 168px;
      height: 108px;
      margin-right: 25px;
    }
    .b-info {
      p {
        margin: 0;
        &.title, &.price {
          margin-bottom: 10px;
        }
      }
      .b-product-ratable-with-reviews {
        margin-top: 10px;
      }
    }
  }
  &.cart {
    .e-image {
      width: 168px;
      height: 108px;
      margin-right: 25px;
    }
    .b-info {
      p {
        margin: 0 0 5px;
        &.price {
          color: $black;
        }
      }
    }
  }
  &.cart-list-user-widget {
    .e-photo {
      @include inline-block();
      width: 170px;
      float: left;
      margin-right: 25px;
      .e-image {
        width: 168px;
        height: 108px;
      }
    }
    .b-info {
      p { margin: 0; }
    }
  }
}
