.b-single-product {
  display: table;
  float: left;
  &:last-child { margin-right: 0; }
  .e-image, .b-info { float: left; }
  .e-image { border: 1px solid $gainsborough; }
  .b-info {
    p {
      font-size: 18px;
      &.price {
        color: $moderateReddishOrange;
      }
    }
  }
  .b-commerce {
    a {
      text-decoration: none;
      border-bottom: 1px dotted $blue;
    }
  }
  &.related {
    width: 500px;
    height: 110px;
    margin-right: 80px;
    .e-image {
      width: 168px;
      height: 108px;
      margin-right: 25px;
    }
  }
  &.similar {
    width: 270px;
    margin-right: 30px;
    .e-image {
      width: 268px;
      height: 175px;
    }
    .b-info {
      p {
        &.title { font-size: 22px; }
        &.price { font-size: 20px; }
      }
    }
  }
  &.catalog {
    width: 100%;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 20px;
    }
    .e-image {
      width: 268px;
      height: 175px;
      margin-right: 25px;
    }
    .b-info {
      .b-info-main {
        p {
          margin: 0;
          &.title {
            margin-bottom: 10px;
            font-size: 24px;
          }
        }
      }
    }
  }
}
