.b-product-top-information {
  width: 100%;
  display: table;
  .b-product-images, .e-thumb-image, .b-product-short-info {
    float: left;
  }

  @import "images";

  .b-product-short-info {
    width: 265px;
    margin: 0 15px 0 10px;
    .price {
      p {
        margin: 0;
        padding: 0;
        &.new {
          color: $moderateReddishOrange;
          font-size: 26px;
          margin-bottom: 10px;
        }
        &.old {
          color: $dullGray;
          font-size: 14px;
          text-decoration: line-through;
        }
      }
    }

    @import "retable_with_reviews";
    @import "e_stores_list";
  }
}
