.b-product-top-information {
  width: 100%;
  display: table;
  .b-product-images, .e-thumb-image, .b-product-short-info {
    float: left;
  }

  @import "images";

  .b-product-short-info {
    width: 265px;
    margin: 0 15px 0 10px;
    @import "_price";
    @import "e_stores_list";
  }
}
