.b-simple-captcha
  .simple-captcha-label.required
    = simple_captcha_options[:label]
  .simple-captcha-image
    = simple_captcha_options[:image]
    .simple-captcha-refresh-button
      = simple_captcha_options[:refresh_button]
  .simple-captcha-field
    = simple_captcha_options[:field]
