.banner-wrapper {
  padding-top: 12px;
}

.banner {
  position: relative;
  width: 770px;
  height: 125px;
  margin: 0 auto;

  .sale {
    position: absolute;
    top: 50%;
    left: -105px;
    margin-top: -17px;

    a {
      font-size: 28px;
      font-weight: bold;
      color: $pink;

      &:hover {
        color: $darkPink;
      }

      &:after {
        $spriteWidth: icons-sprite-width('arrow-black-right-short');
        $spriteHeight: icons-sprite-height('arrow-black-right-short');

        content: '';
        position: absolute;
        width: $spriteWidth;
        height: $spriteHeight;
        right: -35px;
        top: 50%;
        z-index: 1;
        @include icons-sprite('arrow-black-right-short');
      }
    }
  }
}