.form {
  label {
    display: block;
    margin-bottom: 3px;
    font-size: $font-size-base;
    cursor: pointer;
    &.required {
      &:after {
        content: '\002A';
        color: $moderateReddishOrange;
        padding-left: 5px;
      }
    }
  }

  input[type="text"],
  input[type="select"],
  input[type="password"],
  input[type="email"],
  input[type="date"] {
    width: $inputsWidth;
    padding: 5px;
    @include box-sizing(border-box);
    &.big {
      width: $bigInputsWidth;
      height: 28px;
    }
    &.middle {
      width: $middleInputsWidth;
    }
    &.quantity {
      width: $quantityInputsWidth;
      text-align: center;
    }
  }

  input[type="hidden"] {
    width: $inputsWidth;
  }

  textarea {
    resize: none;
    @include box-sizing(border-box);
    border: 1px inset;
    &.big {
      width: $bigInputsWidth;
      height: 185px;
    }
    &.middle {
      width: $middleInputsWidth;
    }
  }

  select {
    width: $inputsWidth;
    &.middle {
      width: $middleInputsWidth;
    }
  }

  .form-group {
    margin-bottom: 15px;
    .get-cities {
      width: $inputsWidth;
    }
    .select2-choices {
      @include box-sizing(border-box);
      border: 1px solid $gray;
      background-image: none;
    }
  }

  .help-block {
    display: block;
    margin-top: 2px;
    color: $darkGray;
    font-size: 10px;
  }
}
