header {
  @extend .container;
  @include clearfix();

  position: relative;
  clear: both;
  padding-top: 10px;

  .item {
    float: left;
  }
}

// logotype
#logo {
  position: relative;
  line-height: 16px;

  .image {
    padding-left: 13px;
  }
}

// navigation menu
#menu {
  padding-top: 20px;
  padding-left: 10px;

  ul.menu {
    font-size: 16px;
  }

  .help-block {
    padding-top: 2px;
    font-size: 11px;
    line-height: 14px;
  }
}

// button catalog
#catalog {
  padding-top: 10px;
  padding-left: 15px;
  color: $white;

  .btn {
    position: relative;
    padding-right: 40px;
    background-color: $blue;
    font-size: 21px;

    &:after {
      $height: icons-sprite-height('arrow-white-down');
      $width: icons-sprite-width('arrow-white-down');

      content: '';
      display: block;
      position: absolute;
      width: $width;
      height: $height;
      top: 50%;
      right: $width;
      margin-top: -$width/2;
      @include icons-sprite('arrow-white-down');
    }
  }

  &.active {
    .btn:after {
      @include icons-sprite('arrow-white-up');
    }
  }
}