header {
  @extend .container;
  // @include clearfix();
  overflow: inherit;

  position: relative;
  clear: both;
  padding-top: 10px;

  .item {
    float: left;
  }
}

// logotype
#logo {
  position: relative;
  line-height: $base-font-size + 2;

  .image {
    padding-left: 13px;
  }
}

// navigation menu
#menu {
  padding-top: 20px;
  padding-left: 10px;

  ul.menu {
    font-size: $base-font-size + 2;
    li {
      margin: 0 10px;
    }
  }

  .help-block {
    padding-top: 2px;
    font-size: 11px;
    line-height: 14px;
  }
}

// button catalog
#catalog {
  padding-top: 10px;
  padding-left: 15px;
  color: $white;
  position: relative;

  ul li > a.pink {
    @extend .pink;
  }

  .btn {
    background-color: $blue;
    font-size: 21px;

    .caret {
      $height: icons-sprite-height('arrow-white-down');
      $width: icons-sprite-width('arrow-white-down');

      width: $width;
      height: $height;
      @include icons-sprite('arrow-white-down');
      border: none;
      margin-left: 20px;
    }
  }

  &.active {
    .btn {
      color: $black;
      background-color: $gray;
      &:after {
        @include icons-sprite('arrow-white-up');
      }
    }
  }
}
