.user-widget-wrapper {
  position: relative;
  @extend .container;
  overflow: visible;
}

.user-widget {
  @include clearfix();
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 100;
  overflow: visible;

  .panel {
    width: 53px;
    height: 40px;
    background-color: #d0e4f2;
    float: left;
    cursor: pointer;
    position: relative;
    @include transition(background-color 0.2s ease);

    &:hover {
      background-color: darken(#d0e4f2, 10%);
      @include transition(background-color 0.2s ease);
    }

    a {
      @extend .full-block-link;
    }

    .icon {
      position: absolute;
    }
  }

  .wishes {
    @include border-bottom-left-radius($btnBorderRadius);
    @include border-top-left-radius($btnBorderRadius);

    .icon {
      @include icons-sprite('heart-blue-big');
      width: icons-sprite-width('heart-blue-big');
      height: icons-sprite-height('heart-blue-big');
      top: 8px;
      left: 10px;
    }

    &:hover .icon {
      @include icons-sprite('heart-pink-big');
    }
  }

  .cart {
    &.panel {
      &:hover {
        background-color: #898989;
      }
    }

    border-right: 2px solid $white;
    border-left: 2px solid $white;

    .icon {
      @include icons-sprite('cart-blue-big');
      width: icons-sprite-width('cart-blue-big');
      height: icons-sprite-height('cart-blue-big');
      top: 3px;
      left: 6px;
    }

    &:hover {
      .icon {
        @include icons-sprite('cart-white-big');
        width: icons-sprite-width('cart-white-big');
        height: icons-sprite-height('cart-white-big');
        top: 0;
        left: 3px;
      }
    }

    .cart-items-counter {
      position: absolute;
      width: 15px;
      height: 15px;
      top: -7px;
      left: 19px;
      @include border-radius(15px);
      background-color: $white;
      border: 1px solid #898989;
      color: #004071;
      text-align: center;
      font-size: 11px;
    }
  }

  .profile {
    @include border-bottom-right-radius($btnBorderRadius);
    @include border-top-right-radius($btnBorderRadius);

    .icon {
      @include icons-sprite('profile-blue-big');
      width: icons-sprite-width('profile-blue-big');
      height: icons-sprite-height('profile-blue-big');
      top: 3px;
      left: 8px;
    }
  }
}