.banner
  .sale
    = link_to [:sale, :product_categories] do
      %span= t('sale')
      %i.fa.fa-fw.fa-long-arrow-right

  = link_to '/products/naushniki-zik-parrot-by-philippe-starck-rozovoe-zoloto-v-1-0' do
    = image_tag 'application/banner.png'
