.banner
  .sale
    = link_to [:sale, :product_categories] do
      %span= t('sale')
      %i.fa.fa-fw.fa-long-arrow-right

  = link_to '/products/naushniki-parrot-zik-by-philippe-starck-v-1-0-rozovoe-zoloto' do
    = image_tag 'application/banner.png'
