.container
  %h1 Каталог

  .categories-list
    %ul
      - ["MC-головки звукоснимателя", "ММ-звукосниматели", "МС-трансформаторы", "Фонокорректоры", "Предварительные усилители", "Усилители для наушников", "Согласующие трансформаторы", "Кабели", "ЦАПы", "Розетка 6-местная (сетевая колодка 220В)", "Аксессуары", "Пневмоплатформа"].each do |title|
        %li
          = link_to '#' do
            = image_tag 'category.jpg', class: 'grayscale grayscale-fade'
            %span= title