.container
  %h1 Каталог

  - if @product_categories.present?
    .categories-list
      %ul
        = build_product_category_ancestry_tree(@product_categories)

  - if @news.present? || @useful_information.present?
    %hr
    .b-news.main-page
      - if @news.present?
        .b-news-one.margin-right
          %h3.blue Новости
          %ul
            = render partial: 'posts/includes/main_news_list', collection: @news, as: :post

      - if @useful_information.present?
        .b-news-one
          %h3.blue Полезная информация
          %ul
            = render partial: 'posts/includes/main_news_list', collection: @useful_information, as: :post, locals: { with_author: true }
