// be sure that parent block is relative!
.full-block-link {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu {
  @extend .unstyled;

  & > li {
    @include inline-block;
    margin: 0 15px;
    vertical-align: top;
  }
}

.help-block {
  ul {
    li {
      margin: 5px 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  p { margin: 0 0 5px; }
}

.btn {
  border: 1px solid $btnBorderColor;
  @include border-radius($btnBorderRadius);
  cursor: pointer;
  padding: 2px 15px 5px;

  &.btn-pink {
    background-color: $pink;
    color: $white;
    text-align: center;

    &:hover {
      background-color: $darkPink;
    }
  }
  &.add-to-cart {
    @include border-radius(5px);
    @include box-sizing(border-box);
    @include box-shadow(inset 2px 2px 0 0 rgba(139, 196, 203, 0.4));
    background-color: $addToCart;
    border: 1px solid $btnBorderColor;
    color: $white;
    padding: 10px 15px;
    &.single-product {
      padding: 5px 10px;
    }
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
