.icon {
  @include inline-block();
}

.in-stock {
  width: icons-sprite-width('in-stock-big');
  height: icons-sprite-height('in-stock-big');
  @include icons-sprite('in-stock-big');
  &.small {
    width: icons-sprite-width('in-stock-small');
    height: icons-sprite-height('in-stock-small');
    @include icons-sprite('in-stock-small');
  }
}

.icon-refresh-captcha {
  width: icons-sprite-width('refresh-captcha');
  height: icons-sprite-height('refresh-captcha');
  @include icons-sprite('refresh-captcha');
}

.icon-arrow-bottom {
  &:before {
    content: '\25BC';
    color: $blue;
  }
}

.icon-arrow-top {
  &:before {
    content: '\25B2';
    color: $blue;
  }
}

.icon-i-like {
  width: icons-sprite-width('heart-blue-micro');
  height: icons-sprite-height('heart-blue-micro');
  @include icons-sprite('heart-blue-micro');
  margin-right: 5px;
}

.icon-add-to-cart {
  width: icons-sprite-width('cart-white-micro');
  height: icons-sprite-height('cart-white-micro');
  @include icons-sprite('cart-white-micro');
  margin-right: 10px;
}

.icon-clear {
  &:before {
    content: '\00D7';
    font-weight: bold;
    margin-right: 5px;
    color: $blue;
  }
}
