html {
  position: relative;
  min-height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: $black;
}

a {
  color: $blue;

  &:hover {
    color: $darkPink;
  }

  &.active, &:active {
    color: $black;
    text-decoration: none;
  }
}

//CONTAINER
.container {
  margin: 0 auto;
  width: 1168px;
}