.breadcrumbs {
  li {
    display: inline-block;
    margin: 0 5px;
    &.home {
      margin-left: 0;
      a {
        display: inline-block;
        position: relative;
        top: 4px;
        height: icons-sprite-height('breadcrumbs-home');
        width: icons-sprite-width('breadcrumbs-home');
        @include icons-sprite('breadcrumbs-home');
      }
    }
    .divider {
      margin-left: 5px;
    }
  }
}
