.b-cart {
  .clear-cart {
    text-decoration: none;
    border-bottom: 1px dotted $blue;
  }
  table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    thead {
      tr {
        background-color: $gray;
        th {
          padding: 5px;
          text-align: left;
          font {
            weight: 100;
            size: 14px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: top;
          padding: 10px 0;
          p {
            margin: 0;
            &.total_amount {
              color: $moderateReddishOrange;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .e-order-steps {
    $steps: cart, delivery, authentification, payment;
    color: $gray;
    font-size: 40px;
    margin-bottom:  30px;
    li {
      @include inline-block();
      position: relative;
      &.active {
        color: $black;
      }
      &:after {
        content: '\003E';
        color: $gray;
      }
      &:last-child:after {
        content: '';
      }
      @for $i from 1 through length($steps) {
        &.#{nth($steps, $i)} {
          &:before {
            content: '#{$i}';
            font-size: 12px;
            position: absolute;
            bottom: 40px;
            left: 0;
          }
        }
      }
      .help {
        position: absolute;
        font-size: 12px;
        bottom: -12px;
        left: 0;
      }
    }
  }
}
