.b-commerce {
  ul {
    li {
      margin-bottom: 20px;
      text-align: center;
    }
    &.single-product {
      margin-top: 10px;
      li {
        @include inline-block();
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
