.b-filters {
  span {
    margin-right: 20px;
  }

  ul {
    margin-bottom: 20px;
    li {
      display: inline;
      padding: 3px 5px;
      margin-right: 20px;
      a {
        text-decoration: none;
        border-bottom: 1px dotted $blue;
      }
      &:last-child { margin-right: 0; }

      &.active, &:hover {
        background-color: $gray;
        @include border-radius(5px);
        a { border: none; }
      }
      i {
        display: inline-block;
        &.reduction {
          @include icons-sprite('arrow-price-down');
          width: icons-sprite-width('arrow-price-down');
          height: icons-sprite-height('arrow-price-down');
        }
        &.increase {
          @include icons-sprite('arrow-price-up');
          width: icons-sprite-width('arrow-price-up');
          height: icons-sprite-height('arrow-price-up');
        }
      }
    }
  }
}
