.b-product {
  h3, h4 { color: $black; }
  h3 {
    font-size: 40px;
    margin: 15px 0;
  }
  h4 {
    font-size: 28px;
    margin: 0 0 5px;
  }

  @import "product/top_information";

  .b-product-description {
    width: 100%;
    display: table;
    p {
      margin: 0 0 5px;
    }
  }
}
