.sign-in {
  margin-right: 130px;
}

.sign-up {
  .e-additional-fields {
    font-size: 16px;
    display: inline-block;
    margin:0 0 10px;
    &:hover {
      color: $blue;
    }
  }
  .b-additional-fields-for-sign-up {
    display: none;
  }
}
