.categories-list {
  ul.menu {
    display: block;
    @extend .unstyled;
    @include clearfix();

    li {
      @include inline-block;
      width: $dropDownMenuWidth;
      margin: 0 20px 50px 0;
      font-size: 24px;
      color: $deathlyIndigo;

      &:nth-of-type(4n){
        margin-right: 0;
      }

      img {
        width: 260px;
        max-width: 260px;
        border: 5px solid $gray;
      }

      a {
        &.b-product-category-parent-link {
          width: $dropDownMenuWidth;
          @include inline-block;
        }
        &.b-link-with-child {
          width: $dropDownMenuWidth - 20px;
        }
        svg {
          opacity: 1;
          @include transition(opacity .5s ease);
        }
        &:hover {
          img {
            -webkit-filter: grayscale(0%);
            filter: none;
          }
          svg {
            opacity: 0;
          }
        }
      }
    }
  }
}
