@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/select2/base";

td span.icon, p span.icon {
  width: 1.8em;
  height: 1.8em;
}

body {
  &.edit {
    .select2-offscreen {
      min-width: 200px;
    }
  }
  fieldset {
    &.inputs {
      ol {
        li {
          margin: 5px 0;
        }
      }
    }
  }
  ol {
    &.with-list-style {
      list-style-type: decimal
    }
  }
}
