@import "active_admin/mixins";
@import "active_admin/base";
@import "select2/select2";

td span.icon, p span.icon {
  width: 1.8em;
  height: 1.8em;
}

body {
  &.edit {
    .select {
      select {
        min-width: 200px;
      }
    }
  }
  fieldset {
    &.inputs {
      ol {
        li {
          margin: 10px 0;
        }
      }
    }
  }
  ol {
    &.with-list-style {
      list-style-type: decimal
    }
  }
}


.active_admin_message_input {
  padding: 10px;
  border: 4px solid #FFDBBB;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFF2DF;
}
