.form-group
  = f.label :password, class: 'required'
  = f.password_field :password, autocomplete: "off", required: true
  .help-block
    Не менее 6 символов

.form-group
  = f.label :password_confirmation, class: 'required'
  = f.password_field :password_confirmation, autocomplete: "off", required: true
