@import "compass";

@import "foundation/normalize";

// sprites
@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

@import "base/variables";
@import "base/helpers";
@import "base/theme";

@import "global/search_bar";
@import "global/user_widget";
@import "global/banner";
@import "global/header";
@import "global/footer";
@import "global/form";

@import "blocks/welcome";
@import "blocks/news";
@import "blocks/product";
@import "blocks/sessions";

ul.menu {
  li {
    &.with-children {
      & > a {
        text-decoration: none;
        border-bottom: 1px dashed $blue;
      }
      span {
        &.arrow {
          color: $blue;
          font-size: 0.625em;
          cursor: pointer;
        }
      }
      .children {
        display: none;
        .with-children {
          &:hover {
            & > .children {
              display: block;
            }
          }
        }
      }
    }
  }
}
